<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  <ion-title>Add Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
<ion-item>
<ion-label  position="floating">Academic Year</ion-label>
 <ion-datetime displayFormat="YYYY" formControlName="academic_year"></ion-datetime>

</ion-item>
 <ion-item>
    <ion-label>Project type</ion-label>
    <ion-select placeholder="Select One" formControlName="project_type">
      <ion-select-option value="Mini Project">Mini Project</ion-select-option>
      <ion-select-option value="Main Project">Main Project</ion-select-option>
    </ion-select>
  </ion-item>
<ion-button [disabled]="!projectForm.valid" (click)="addProject()">Add Project</ion-button>

</form>
</ion-content>
