

<ion-content [fullscreen]="true">
  
<div id="container">
 <ion-card>
 <ion-card-header>
 <center><ion-text color="primary"><h1><b>BPC Project Classroom</b></h1></ion-text></center>
 <img src="../assets/img/header.png">
 <img src="../assets/img/bpc.jpg">
 </ion-card-header>
<ion-card-content><p>BPC College Official Application for Academic Projects</p></ion-card-content>
  <ion-button [routerLink]="['/registration']">Create Project Class Room</ion-button>
  <ion-button [routerLink]="['/studentregistration']">Student Sign up</ion-button>
   <ion-button [routerLink]="['/login']">Login</ion-button>
 </ion-card>


  
  </div>
</ion-content>
