<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  <ion-title>Project Phase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card let *ngFor="let ph of phase">
<ion-item><ion-text color="danger"><h3>{{ph.phase}}</h3></ion-text></ion-item>
<ion-item>{{ph.description}}</ion-item>
<ion-item>
          <ion-label  color="primary" stacked>Upload the document (upload pdf only)</ion-label>
          </ion-item>
          <ion-item>
          <input type="file" (change)="encodeImageFileAsURL($event)" id="inputFileToLoad"><br>

        </ion-item>
        <ion-item>
<ion-button (click)="uploads(ph._id)" *ngIf="b">Submit</ion-button>
        </ion-item>

<ion-item>Due date:{{ph.due_date | date:'dd/MM/yyyy'}}</ion-item>
<ion-item *ngIf="t">Sorry you are not able to upload</ion-item>


        <ion-item *ngIf="d">

<ion-button (click)="gotouploads(ph._id)">View Uploaded File</ion-button>
<ion-button (click)="deletemedia(ph._id)">Unsubmit</ion-button>

        </ion-item>

</ion-card>
</ion-content>
